@import "tailwindcss";

@theme inline {
  --color-primary: #4a1e22 ;
  --color-primary-dark: #2e1215 ;
  --color-secondary: #F5F0E8 ;
  --font-sans: var(--font-lato);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
}

section[id] {
  scroll-margin-top: 5rem;
}
